html {
  font-family: Georgia;
}
body {
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
}
.logo img {
  border: 0px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
.slogan {
  padding-top: 2em;
  text-align: center;
  font-size: 1.2em;
  white-space: pre;
}
.author {
  font-family: Coronetscript, cursive;
  font-size: 3.0em;
  text-align: center;
  text-shadow: 4px 4px 8px #000;
  padding-bottom: 1em;
}
.title, .subtitle {
  font-size: 2.0em;
  text-align: center;
}
.subtitle {
  font-size: 1.3em;
  font-style:italic;
}
.painting {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#CC8;
  background: linear-gradient(90deg, #CC8, #FFF, #CC8);
  box-shadow: 2px 2px 5px #333;
  border: 1px solid #430;
  width: 500px;
}
.painting img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #430;
  width: 480px;
}
.caption {
  margin-top: 0.3em;
  text-align: center;
  font-size:0.8em;
  font-style:italic;
}
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0px 2px 15px #000;
}
.left-border {
  box-shadow: 1px 0px 12px #000;
  border-left: 6px solid #BA6;
  border-right: 3px solid #AA6;
}
.right-border {
  left:586px;
  box-shadow: -1px 0px 12px #000;
  border-left: 3px solid #AA6;
  border-right: 6px solid #BA6;
}
.left-border, .right-border {
  position: absolute;
  width:5px;
  height:100%;
  background-size: 10px 600px;
  background: #CC8;
  background: linear-gradient(0deg, #CC8, #FFF, #CC8) repeat fixed 0% 0% transparent;
}
.index {
  text-align: center;
  white-space: pre-line;
}
.index-heading {
  font-style:italic;
  font-weight:bold;
  display:inline;
}
.link-to-index {
  font-style:italic;
  margin-top: 0.5em;
}
.poem {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 20px;
  background-color: white;
  background: linear-gradient(30deg, #EED, #FFF);
  border: solid black 1px;
  box-shadow: 5px 5px 15px #333;
}
.soneto, .otros {
  margin-top: 2em;
  margin-bottom: 2em;
}
.breveria {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}
.poem-title{
  font-size: 1.2em;
  font-weight: bold;
}
.soneto .poem-title, .otros .poem-title {
  padding-bottom: 1em;
}
.poem-content {
  white-space: pre-wrap;
  padding-bottom: 1em;
}
.poem-date{
  font-size: 0.9em;
  font-style: italic;
}
.poem-divider {
  padding-top: 5px;
  padding-bottom: 5px;
}
.poem-divider img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.nav {
  height: 50px;
  position: relative;
  padding-bottom: 2em;
}
div.nav div {
  width: 160px;
  height: 34px;
  background-color: #333;
  font-size: 1.5em;
  box-shadow: 5px 5px 15px #000;
  text-align: center;
  padding: 5px;
}
div.nav a {
  text-decoration: none;
}
div.nav div:hover {
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 17px;
  box-shadow: 2px 2px 15px #000;
}
.nav-prev {
  top: 0px;
  position: absolute;
  left: 20px;
}
.nav-next {
  top: 0px;
  position: absolute;
  left: 410px;
}

.footer {
  padding-bottom: 2em;
}
.fineprint {
  font-size: 0.5em;
  text-align: center;
}
