html {
  background-color: #689;
}
html, a:link,a.active:link, a:hover, a:visited {
  color: #CD5;
}
h1, .slogan, .title, .subtitle, .index-heading {
  color: #EEC;
}
.author, .fineprint {
  color: #AAA;
}
.caption {
  color: #CCC;
}
.container {
  background-color: #356;
}
.poem, .poem a:link,.poem a.active:link, .poem a:hover, .poem a:visited {
  color: #880;
}
.nav-prev {
  display:none;
}
