html {
  background-color: #c3bb84;
}
html, a:link,a.active:link, a:hover, a:visited {
  color: #FFE640;
}
h1, .slogan, .title, .subtitle, .index-heading {
  color: #FFB273;
}
.author, .fineprint {
  color: #BB9;
}
.caption {
  color: #CCA;
}
.container {
  background-color: #A64B00;
}
.poem, .poem a:link,.poem a.active:link, .poem a:hover, .poem a:visited {
  color: #A64B00;
}
